<div class="container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" width="100%">
      <ng-container matColumnDef="booking_id">
        <th mat-header-cell *matHeaderCellDef>Booking ID</th>
        <td mat-cell *matCellDef="let element">{{ element.booking_id }}</td>
      </ng-container>
      
      <ng-container matColumnDef="booked_by">
        <th mat-header-cell *matHeaderCellDef>Booked By</th>
        <td mat-cell *matCellDef="let element">
          {{ element.booked_by || '-' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="source">
        <th mat-header-cell *matHeaderCellDef>From City</th>
        <td mat-cell *matCellDef="let element">{{ element.source }}</td>
      </ng-container>
  
  
      <ng-container matColumnDef="destination">
        <th mat-header-cell *matHeaderCellDef>To City</th>
        <td mat-cell *matCellDef="let element">{{ element.destination }}</td>
      </ng-container>
  
      <ng-container matColumnDef="spots">
        <th mat-header-cell *matHeaderCellDef>Spots</th>
        <td mat-cell *matCellDef="let element">{{ element.spots }}</td>
      </ng-container>
  
      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef>Created On</th>
        <td mat-cell *matCellDef="let element">{{ element.created_at }}</td>
      </ng-container>
  
      <ng-container matColumnDef="booking_status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">
          {{ element.booking_status || '-' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="cancelled_on">
        <th mat-header-cell *matHeaderCellDef>Cancelled On</th>
        <td mat-cell *matCellDef="let element">
          {{ element.cancelled_on || '-' }}
        </td>
      </ng-container>
    
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="8">No data found</td>
      </tr>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons 
      aria-label="Select page of periodic elements">
    </mat-paginator>
    </table>
  </div>
  